.theme-light { --color-primary: #ffffff; --color-secondary: #93a8ac; --color-accent: #EC2222; --color-hover: #e2b4bd; --font-color: #424b54; }
.theme-dark { --color-primary: #000505; --color-secondary: #3b3355; --color-accent: #EC2222; --color-hover: #5d5d81; --font-color: #c4bbaf; }
