* { box-sizing: border-box; margin: 0; padding: 0; }
ul { margin: 0; padding: 0; list-style: none; }

/* ------ THEME COLORS ------ */

#root, .App, main { background: var(--background-base); background: var(--background-webkit); background: var(--background-moz); background: var(--background-linear); color: var(--font-color); font-size: 100%; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: auto; -webkit-font-smoothing: antialiased; font-kerning: normal; font-family: 'Roboto Flex',sans-serif; }
a { color: var(--color-accent); text-decoration: none; }
a:active, a:hover { color: var(--color-hover); }
footer, nav { background-color: var(--color-secondary); }
header { background: var(--header-base); background: var(--header-webkit); background: var(--header-moz); background: var(--header-linear); }

/* ------ TYPOGRAPHY ------ */

h1, h2, h3, h4, h5, h6, nav { text-transform: capitalize; letter-spacing: 0.1rem; line-height: 2.5em; font-weight: 600; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1em; }

p { font-size: 1.2em; line-height: 1.8em; font-weight: 400; margin-bottom: 20px; }

/* ------ APP GRID ------ */

.App { display: grid; grid-auto-flow: row; }

/* ------ HEADER HERO ------ */

header { height: 240px; color: var(--font-color); text-align: center; padding: 20px; }
header > img { width: 60px; }

/* ------ NAV FLEX STICKY ------ */

nav { height: 80px; text-align: center; justify-content: space-between; display: inline-flex; flex-direction: row; align-items: center; align-content: center; flex-wrap: nowrap; position: sticky; top: 0; padding: 10px; z-index: 9990; border-bottom: 1px solid var(--color-hover); }
@media (max-width: 768px) {
  nav { height: 60px; }
}

/* - burger menu - */

.burger-menu-closed { padding: 1rem; }
.burger-menu-open { position: absolute; top: 0; background-color: var(--color-secondary); left: 0; display: flex; flex-wrap: wrap; padding: 1.3rem 0.6rem 0.6rem 1.4rem; flex-direction: row; }

.burger-top-menu-div { width: auto; }
.burger-top-menu-div > ul { overflow-y: auto; display: grid; }
.burger-top-menu-div > ul > li > a { font-size: 1em; display: block; padding: 0.3rem; }
.burger-topic-menu-div { border-top: 1px solid var(--color-primary); }
.burger-topic-menu-div  > ul > li { font-size: 0.45em; }

/* - top menu - */

.top-menu-ul { display: flex; flex-direction: row; text-align: start; flex-wrap: nowrap; align-content: center; justify-content: space-evenly; align-items: center; }
.top-menu-ul > li { margin: 0 1rem; overflow: hidden; font-size: 1.2em; text-transform: uppercase; letter-spacing: 0.1rem; }
.top-menu-ul > li > a { color: var(--font-color); padding: 0 0.5rem; }
.top-menu-ul > li > a:active, .top-menu-ul > li > a:hover { color: var(--color-accent); }

/* - toggle theme - */

#switch { padding: 1rem; font-size: 2em; position: absolute; right: 0; }
.material-symbols-outlined { font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48; cursor: pointer; color: var(--font-color); }
#switch:hover { color: var(--color-accent); }

/* ------ MAIN & ASIDE FLEX ------ */

main { display: flex; flex-wrap: wrap; text-align: center; justify-content: center; }
aside { flex: 14%; }
.content { flex: 86%; }
@media (max-width: 768px) {
  aside, content { flex: 100%; }
}

/* ------ ASIDE  STICKY ------ */

aside { position: -webkit-sticky; position: sticky; top: 60px; height: 10vh; }
.aside-topics-menu { float: left; width: 100%; }
.topics { padding: 1rem; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: flex-start; align-items: flex-start; background-color: var(--color-hover); border: var(--font-color); }

/* --- topics menu --- */

.topics > h3, .topics-menu-ul > li > a > h4 { text-transform: uppercase; }
.topics > h3 { font-size: 0.9em; }
.topics-menu-ul > li > a > h4 { font-size: 0.75em; padding-right: 1rem; color: var(--color-accent); }
.topics-menu-ul > li > a > h4:hover { font-size: 0.75em; padding-right: 1rem; color: var(--font-color); }
.topics-menu-ul { text-align: left; padding-top: 1rem; border-top: 1px solid var(--color-secondary); }
.topics-menu-ul > li { display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; }
.topics-menu-ul > li > p { text-transform: capitalize; font-style: italic; font-size: 0.75em; color: var(--color-secondary); margin-bottom: 0; }

/* ------ HOME & ARTICLES ------ */

/* ---- home & articles mobile ---- */

.articles, .home { display: flex; flex-wrap: wrap; text-align: center; justify-content: space-around; flex-direction: row; align-content: flex-start; align-items: flex-end; }
.articles-card-div, .home-card-div { flex: 28%; margin: 1%; }
@media (max-width: 540px) {
  .articles, .home { flex-direction: column; font-size: 80%; }
}

/* ---- home & articles cards---- */

.introText { text-align: justify; padding: 20px; margin: 20px 0; border-bottom: 1px solid var(--color-secondary); }

.articles-card-div, .home-card-div { border-radius: 6px; padding: 20px 0; text-align: center; margin-bottom: 20px; box-shadow: var(--box-shadow); line-height: 1.4rem; background-color: var(--color-primary); border: 1px solid var(--font-color); }
.articles-card-div:hover, .home-card-div:hover { box-shadow: var(--box-shadow-hover); }

.articles-card-div > h4, .home-card-div > h4 { text-transform: uppercase; font-size: 0.82em; }
.articles-card-div > p, .home-card-div > p { font-size: 0.75em; }
.articles-card-div > a > h3, .home-card-div > a > h3 { font-size: 1.2em; line-height: 1.6; padding: 0 6px; font-family: 'Roboto Condensed',sans-serif; font-weight: 400; }

.topic-link > h3 { color: var(--font-color); text-transform: uppercase; font-weight: 300; }
.topic-link > h3:hover { color: var(--color-hover); }

/* - home & articles img - */

.articles-img { width: 100%; aspect-ratio: 1/1; object-fit: cover; margin: 10px 0; }

/* ---- article card ---- */

.article { display: flex; flex-wrap: wrap; text-align: center; justify-content: space-around; flex-direction: row; align-content: flex-start; align-items: flex-end; }
.article-card-div { flex: 28%; margin: 1%; }
@media (max-width: 540px) {
  .articles { flex-direction: column; font-size: 80%; }
}

.article-card-div { border-radius: 6px; padding: 20px; margin-bottom: 20px; line-height: 1.6rem; background-color: var(--color-primary); border: 1px solid var(--font-hover); width: 90%; text-align: left; }

.article-card-div > h4 { text-transform: uppercase; font-size: 0.82em; }
.article-body { font-size: 1.4em; line-height: 2.2rem; }
.article-card-div > a > h3 { font-size: 1.2em; padding: 0 6px; }
.article-date { font-size: small; font-weight: 300; font-style: italic; }
.article-card-div > a > h3 { color: var(--color-accent); font-size: 1em; }

/* - article img - */

.article-img { width: 30%; aspect-ratio: 1/1; object-fit: cover; border-radius: 9px; border: 1px solid var(--font-color); float: left; margin: 10px 20px 10px 0; }

/* - article date & thumbs vote - */

.article-date-div { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: flex-start; align-items: center; height: 50px; width: 30%; }

.article-votes-counter-div { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: space-evenly; align-items: center; height: 34px; width: 50%; }

.article-date-p, .article-votes-counter-div > p { font-size: small; font-style: italic; font-weight: 300; margin: 0; padding: 0; }

.article-votes-counter-div .material-symbols-outlined { font-size: 1.2em; padding: 0; margin: 0; }

.article-votes-counter { font-size: 1em; font-weight: 600; margin: 0; padding: 0; }

/* ------ COMMENTS ------ */

/* - show comments button - */

.show-comments-button { appearance: button; -webkit-appearance: button; writing-mode: horizontal-tb; -webkit-writing-mode: horizontal-tb!important; text-rendering: auto; color: var(--font-color); letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0; text-shadow: none; display: inline-block; text-align: center; align-items: flex-start; cursor: pointer; background-color: var(--color-secondary); box-sizing: border-box; margin: 0; padding: 6px 14px; border: 1px solid var(--font-color); border-radius: 6px; font-weight: 400; box-shadow: var(--box-shadow); }

.show-comments-button:hover { box-shadow: var(--box-shadow-hover); }

/* - comments date & thumbs vote - */

.comments-date-div { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: flex-end; align-items: center; height: 50px; width: 50%; float: right; }

.comments-votes-counter-div { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: space-evenly; align-items: center; height: 34px; width: 30%; }

.comments-date-p, .comments-votes-counter-div > p { font-size: small; font-style: italic; font-weight: 300; margin: 0; padding: 0; }

.comments-votes-counter-div .material-symbols-outlined { font-size: 1.2em; padding: 0; margin: 0; }

.comments-votes-counter { font-size: 1em; font-weight: 600; margin: 0; padding: 0; }

/* - blockquote - */

blockquote { font-family: 'Roboto Serif',serif; display: block; border-width: 2px 0; border-style: solid; border-color: var(--color-hover); padding: 1.5em 0 0.5em; margin: .3em 0 1.8em 0; position: relative; font-style: italic; }

blockquote:before { content: '\201C'; position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); background: var(--color-primary); width: 3rem; height: 2rem; font: 6em/1.08em 'Roboto Serif',serif; color: var(--font-color); text-align: center; }

blockquote:after { content: "\2013 \2003" attr(cite); display: block; text-align: left; font-size: 0.875em; color: var(--color-accent); text-transform: uppercase; margin: 10px 0; }

/* ------ FOOTER ------ */

footer { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center; border-top: 1px solid var(--color-hover); }

footer > img { padding: 0 20px; width: 80px; }

.footer-div { padding: 20px 0; text-align: center; font-size: 0.82em; }
